*{
    margin: 0;
    padding: 0;
}
h1{
    height:70px;
    margin-top: 20px;
    font-size: 45px;
}
body{
    background-color: #548687;
    text-align: center;
}
#container{
    height:70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#RC{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
    
}
#button{
    height:18vmin;
    width: 18vmin;
    margin-right: 10px;
    border-radius: 10px;
    border-color: black(207, 106, 106, 0.893);
    font-size: 8vmin;
    color: #851a34;
    background-color: #874F54;
    box-shadow: 0 4px 12px rgba(135, 79, 84, 0.6);

}
#reset{
    height:8vmin;
    width: 18vmin;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(229, 152, 8);
    margin-right: 10vmin;
    
}
#new{
    height:8vmin;
    width: 18vmin;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(229, 152, 8);
    
}
#winner-pop{
    height:15vmin;
    color:white;
    font-weight: bolder;
    font-size: 12vmin;

}
.hidden{
    display: none;
}